*.pbxproj merge=union
*.swift text diff=swift
*.h text diff=objc
*.m text diff=objc
*.xcconfig text
*.entitlements text
*.xcuserstate binary
*.xcworkspacedata binary
*.xcscheme binary

# CI manifests (GitHub Actions)
*.yml text eol=lf

# Shell scripts
*.sh text eol=lf

# Ruby scripts
*.rb text eol=lf

# Documentation
*.md text
*.txt text
